{% extends app_root_tpl() %}
{%- block vend_styles %}
    {{super()}}
    <link href="{{theme_static('vend/jquery.jqGrid-4.13.2/css/ui.jqgrid.min.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{theme_static('vend/jquery.jqGrid-4.13.2/css/ui.jqgrid-bootstrap.css')}}" type="text/css" rel="stylesheet" />
{%- endblock vend_styles %}
{%- block page_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('portaldata_mgt.static', filename='css/main.css')}}" />
{%- endblock page_styles %}
{% block bread_crumbs %}{% endblock %}

{% block page_sidenav %}
{% if inavi %}
    <ul class="nav">
    {% for item in inavi %}
        {% if item['current'] %}
                {% set selected_label = item['label'] %}
        {% endif %}
        <li class="ui-state-default ui-corner-all sub-sidenavi-item">
            <a href="{{ item['href'] }}">{{ item['label'] }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
{% block page_main_content %}
<input type="hidden" value="{{base_url|default}}" id="js-base-url" />
<span id="page-content-marker" style="display:none;"></span>
    {% if 'res' == dir_name %}
    <div class="data-informer">
        <label>Время последне публикации:&nbsp;&nbsp;</label><span class="publisher-info" id="last-publish"></span>
        <span>&nbsp;&nbsp;||&nbsp;&nbsp;</span>
        <label>Время последней резервной копии:&nbsp;&nbsp;</label><span class="publisher-info" id="last-backup"></span>
    </div>
    {% if pub_result_messages %}
    <div id="last-publish-info" class="log-box">
        <br /><h4>Результат последней публикации данных:</h4>
        {% for _pmsg in pub_result_messages %}
        <p class="pub-result_msg">{{_pmsg}}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div style="text-align:right;height:24px;">
        <span class="ui-corner-all toolbar-btn" style="float:right;line-height:18px;" id="export-btn" action="download-records">
            <img style="width:16px;margin:1px;" src="{{url_for('portaldata_mgt.static', filename='img/excel-icon16.gif')}}" />
        </span>
    </div>
    {% endif %}
    <div class="table-box" dirname="{{dir_name}}">
        <div class="json-source" id="files-cfg-tbl" style="display:none">{{ tbl }}</div>
    </div>
    <div class="sub-sidenavi-toolbar">
    {% if 'res' == dir_name %}
    <button class="sub-tollbar-btn" action="publish-data" id="publicator">Опубликовать данные</button>
    {% endif %}
    {% if 'backups' == dir_name %}
    <button class="sub-tollbar-btn" action="backup-data" id="backupper">Создать резервную копию</button>
    {% endif %}
    </div>
    <iframe name="FMIFrameHelper" style="display:none;width:0px;height:0px;"></iframe>
{% endblock %}
{%- block vend_scripts %}
    {{super()}}
    <script src="{{theme_static('vend/jquery.jqGrid-4.13.2/js/jquery.jqgrid.min.js')}}" type="text/javascript"></script>
    <script src="{{theme_static('vend/jquery.jqGrid-4.13.2/js/i18n/grid.locale-ru.min.js')}}" type="text/javascript"></script>
{%- endblock vend_scripts %}
{%- block page_scripts %}
    <script src="{{url_for('static', filename='js/cust_events.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/jquery.wfm-loader.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/wfm.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/main.js')}}" type="text/javascript"></script>
    {% if 'res' == dir_name %}
    <script src="{{url_for('portaldata_mgt.static', filename='js/publish_process.js')}}" type="text/javascript"></script>
    {% endif %}
    <script src="{{url_for('portaldata_mgt.static', filename='js/data_management.js')}}" type="text/javascript"></script>
{%- endblock page_scripts %}