{% extends admin_root_tpl() %}

{% block title %}
    {% if title %}SPLM: {{ title }}{% else %}Редактор SPARQL шаблонов{% endif %}
{% endblock %}


{% block page_main_content %}
	<form method="post">
		<h1>{% if title %}{{ title }} {% else %} Список шаблонов {% endif %}</h1>

		{% if file %}
			<input type="text" value="{{file}}" name="file" readonly>
		{% else %}
			<input type="text" value="" name="file">
		{% endif %}

		<ul>
			{% for template in templates %}
				<li>
					<a href="{{url_for(module + '._sparqt_editor', file = file, template = template)}}">{{template}}</a>
				</li>
			{% endfor %}
		</ul>

		{% if can_remove %}
		<input type="submit" value="Удалить изменения" name="delete" formaction="{{url_for(module + '._sparqt_templates', file = file)}}">
		{% endif %}

		<br/>

	</form>
	<form method="get">
		<input type="submit" value="К списку файлов" formaction="{{url_for(module + '._sparqt_list')}}">
	</form>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('query.static', filename='js/main.js')}}" type="text/javascript"></script>
{% endblock %}