{% extends app_root_tpl() %}

{% block title %}
    {% if title %}SPLM: {{ title }}{% else %}Навигация по данным{% endif %}
{% endblock %}


{% block styles %}
    {{super()}}
	<style type="text/css">
	    .scroll-ul-list {
			max-height: 450px;
			overflow-y: scroll !important;
		}
		.scroll-well {
			max-width: 500px;
			overflow-x: scroll !important;
			padding: 5px;
		}
		.xicon-pos {
			margin-top: 10px;
		}
</style>

<link rel="stylesheet" href="{{url_for('static', filename='vend/jquery.jqGrid-4.13.2/css/ui.jqgrid.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='vend/jquery.jqGrid-4.13.2/css/ui.jqgrid-bootstrap.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/portal.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/portal.datamanager.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/portal.jqgrid.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/jqtree.css')}}" />

{% endblock %}

{% block page_sidenav %}
    <div style="text-align: center;">
        <img class="img-responsive" src="/static/img/logo.png" width="auto" alt="pizza">
    </div>
{% endblock %}


{% block page_main_content %}
	<h2 class="content-header">{{ class_name }}</h2>
	<h3>Error: {{ error }}</h3>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('data_navigation.static', filename='js/datanavigation.js')}}" type="text/javascript"></script>
{% endblock %}