{% extends app_root_tpl() %}

{% block title %}
    {% if title %}SPLM: {{ title }}{% else %}Навигация по данным{% endif %}
{% endblock %}


{% block styles %}
    {{super()}}
	<style type="text/css">
	    .scroll-ul-list {
			max-height: 450px;
			overflow-y: scroll !important;
		}
		.scroll-well {
			max-width: 500px;
			overflow-x: scroll !important;
			padding: 5px;
		}
		.xicon-pos {
			margin-top: 10px;
		}
		.sdbarHR {
			align "center";
			width: 80%;
			border-top: 1px solid #31313145;
		}
		.sdbarTitle {
			padding: 10px 0px 10px 0px;
			text-align: center;
			font-size: 18px;
			font-weight: 500;
		}
		.sdbarT {
			padding: 5px 0px 5px 0px;
			font-weight: 400;
		}
		.sdbarR {
			padding: 5px 0px 5px 5px;
		}
</style>

<link rel="stylesheet" href="{{url_for('static', filename='vend/jquery.jqGrid-4.13.2/css/ui.jqgrid.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='vend/jquery.jqGrid-4.13.2/css/ui.jqgrid-bootstrap.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/portal.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/portal.datamanager.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/portal.jqgrid.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/jqtree.css')}}" />

{% endblock %}

{% block page_sidenav %}
    <div>
        <img class="img-responsive" style="margin: 0 auto;" src="/static/files/images/Pizza.png" width="350" height="350" alt="pizza">
    </div>
	<hr class="sdbarHR" />
	<div class="sdbarTitle">Самое популярное:</div>
	<div>
		<span class="sdbarT">Сытная пицца:</span>
		<span class="sdbarR">{{ sidebar1 | safe }}</span>
	</div>
	<div>
		<span class="sdbarT">Пицца с морепродуктами:</span>
		<span class="sdbarR">{{ sidebar2 | safe }}</span>
	</div>
	<div>
		<span class="sdbarT">Самая дешевая пицца:</span>
		<span class="sdbarR">{{ sidebar3 | safe }}</span>
	</div>
	<span class="sdbarT">Вегитарианская пицца:</span>
	<span class="sdbarR">{{ sidebar4 | safe }}</span>
{% endblock %}


{% block page_main_content %}
	<div class="container-fluid">
		<h2 class="content-header">Текущая категория: {{class_name | safe }}</h2>
		<br>
			{% if definition %}
				<h3>Определение:</h3>
					<h4>{{ definition | safe }}</h4>
					<h5>* Данное определение сформировано автоматически мз аксоимы OWL</h5>
			{% endif %}
		<br>
			{% if requirements %}
				<h3>Требования к пицце:</h3>
					{{ requirements | safe }}
						<h5>* Требования представлены в виде текста и машиночитаемых требований, сформулированных с использованием классов и отношений из онтологии "Пицца" с целью обеспечения их автоматизированной проверки.</h5>
						<input id="startverifybutton" type="button" action="Pizza?prefix=pizza" value="Проверить выполнение требований"/>
						<br>
					{% endif %}
				<span id="ver-mark" style="display:none;"></span>
		<br>
			{% if rules %}
				<h3>Правила логических выводов на основе информации о пиццах:</h3>
					{{ rules | safe }}
						<h5>* Правила предназначены для создания новых записей в базе данных, на основе логических выводов.</h5>
						<input id="startrulesbutton" type="button" action="Pizza?prefix=pizza" value="Выполнить логические правила"/>
						<br>
					{% endif %}
				<span id="rule-mark" style="display:none;"></span>
		<br>
			{% if instances %}<h3>Доступные варианты пиццы для заказа:</h3>{{ instances | safe }}{% endif %}
		<br>
			{% if subclasses %}<h3>Дополнительные под-категории пиццы:</h3>{{ subclasses | safe }}{% endif %}
	</div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('data_navigation.static', filename='js/datanavigation.js')}}" type="text/javascript"></script>
{% endblock %}