{% extends app_root_tpl() %}

{% block title %}
    {% if title %}SPLM: {{ title }}{% else %}Навигация по данным{% endif %}
{% endblock %}


{% block styles %}
    {{super()}}
	<style type="text/css">
	    .scroll-ul-list {
			max-height: 450px;
			overflow-y: scroll !important;
		}
		.scroll-well {
			max-width: 500px;
			overflow-x: scroll !important;
			padding: 5px;
		}
		.xicon-pos {
			margin-top: 10px;
		}
		img {
			max-width: 50%;
			height: auto;
		}
		.title h2 {
			font-size: 44px;
			line-height: 44px;
			color: #31372b;
			font-weight: 600;
			margin-bottom: 0px;
			padding: 10px 0px;
		}
		.title h3 {
			font-size: 20px;
			line-height: 20px;
			color: #800000;
			font-weight: normal;
			margin-bottom: 0px;
			padding: 5px 0px;
		}
		 .brand-bg  {
			box-shadow: #ddd 0px 0px 19px 8px;
			margin-bottom: 29px;
			background-color: #FFFFE0;
		  }
		 		 .brand-bg .brand-box {
			background: #fff;
			padding: 15px 0px 15px 0px;
			margin: 40px 80px 40px 80px;
			text-align: center;
			border-radius: 80px 80px 80px 80px;
			border: solid 2px Grey;
		 }
		 .brand-bg .brand-box:hover {
			background: #ecf1f7;
		 }
		 .brand-bg .statement {
		 	padding: 10px 0px 10px 0px;
		 }
		 .brand-bg .predicat {
			color: #800000;
			font-weight: normal;
			font-size: 20px;
		 }
		 .brand-bg .object {
			font-weight: normal;
			padding: 0px 10px 0px 10px;
			font-size: 24px;
		 }
		 .brand-bg .img_box {
			justify-content: center;
			padding: 40px 0px 40px 0px;
		}
	</style>

<link rel="stylesheet" href="{{url_for('static', filename='vend/jquery.jqGrid-4.13.2/css/ui.jqgrid.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='vend/jquery.jqGrid-4.13.2/css/ui.jqgrid-bootstrap.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/portal.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/portal.datamanager.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/portal.jqgrid.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/jqtree.css')}}" />

{% endblock %}

{% block page_sidenav %}
    <div>
        <img class="img-responsive" style="margin: 0 auto;" src="/static/files/images/PizzaBase.png" width="350" height="350" alt="pizzaBase">
    </div>
{% endblock %}


{% block page_main_content %}
	<h2 class="content-header">Категория: {{class_name | safe }}</h2>
	<br>
<div class="brand-bg">
	{% for key, val in instance.items() %}
	<div class="row">
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 product_detail_side">
		 		<div class="img_box">
			 		{{ val.Avatar | safe }}
		 		</div>
		</div>
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 product_detail_side">
				<div class="title">
					<h2> {{ key }} </h2>
					<h3> {{ val.Comment }} </h3>
				</div>
				<div class="statement">
					<span class="predicat">Используется в пиццах:</span>
					{% for pz in val.Pizza.values() %}
						<li class="object">{{ pz | safe }}</li>
					{% endfor %}
				</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
