{% extends app_root_tpl() %}

{% block styles %}
    {{super()}}
	<style type="text/css">
	    .scroll-ul-list {
			max-height: 450px;
			overflow-y: scroll !important;
		}
		.scroll-well {
			max-width: 500px;
			overflow-x: scroll !important;
			padding: 5px;
		}
		.xicon-pos {
			margin-top: 10px;
		}
		.sdbarHR {
			align "center";
			width: 80%;
			border-top: 1px solid #31313145;
		}
		.sdbarTitle {
			padding: 10px 0px 10px 0px;
			text-align: center;
			font-size: 18px;
			font-weight: 500;
		}
		.sdbarT {
			padding: 5px 0px 5px 0px;
			font-weight: 400;
		}
		.sdbarR {
			padding: 5px 0px 5px 5px;
		}
		.dataframe {
		width: 100%;
		}
		.simple {
		width: auto;
		}
	table {
		width: 100%;
		border:0px;
		border-collapse: collapse;
		}
	th {
		font-size:20px;
		border-top: 2px solid #555;
		background-color:#efefef;
		text-align:left;
		padding:10px;
		}
	td:first-child {
		width: 20%;
		text-align:right;
		font-weight:700;
		}
	td {
		border-bottom:1px #cdcdcd solid;
		padding:10px;
		}
</style>
{% endblock %}

{% block page_main_content %}

{% for type_key, type_val in data.items() %}
	<span class="header-section-toggler xicon-open xicon-pos">&nbsp;</span><h2 class="content-header" style="text-align:center;">{{ type_key }}</h2>
	<table>
		{% for key, val in type_val.items() %}
		<tr>
			<th colspan="2">Элемент: {{ key }}</th>
		</tr>
		{% for row in val %}
		<tr>
			<td>{{ row[0] }}</td>
			<td>{{ row[1] }}</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</table>
{% endfor %}

{% endblock %}

{% block scripts %}
	{{super()}}
	<script src="{{url_for('onto.static', filename='js/widget.js')}}" type="text/javascript"></script>
{% endblock %}
