/* 
    Created on : 30.11.2016, 13:51:00
    Author     : Anton Novikov <mr.anton.novikov at gmail.com>
*/
html {position: relative; min-height: 100%; font-size: 100%; -webkit-text-size-adjust: 100%; }
body { margin-bottom: 30px; padding-top:50px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; line-height: 18px; color: #313131; }

.hidden{ display:none !important; margin:0px !important; padding:0px !important;font-size:0px; }
.widget-idata,
.widget-box .widget-idata { display: none !important; }
.like-a{text-decoration:underline;color:#2A2AF6;cursor:pointer;}
