.ui-jqgrid tr.jqgrow td { overflow: visible; white-space: normal; }
.ui-jqgrid tr.ui-row-ltr td {
/*    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;*/
    text-align: left;
}
.ui-jqgrid tr.jqgrow td {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: normal;
    height: 22px;
    overflow: hidden;
    padding: 0 2px;
    white-space: pre;
}
.ui-jqgrid tr.jqgrow td a{color:#337ab7 !important; }
tr.jqgrow td { overflow: hidden !important; padding: 4px 5px !important; white-space: normal !important; }

.searchFilter table.group { margin-left: 8px; }

.ui-jqgrid .ui-search-table .ui-search-oper { width: 20px;  text-align: center;}
.ui-jqgrid .ui-search-table .ui-search-input {  text-align: center; }
.ui-jqgrid .ui-search-table .ui-search-clear { width: 16px; text-align: center; }
.ui-jqgrid .ui-jqgrid-htable th { height: auto !important;overflow: hidden !important; white-space: normal !important;}
.ui-jqgrid .ui-jqgrid-htable th div { height: auto !important;}

.ui-jqgrid .ui-userdata {height: auto !important;}

.custom-jqgrid-toolbar-top {width:100%;height:20px;clear:both;margin-bottom:4px}

.tbl-tb-btn {float:right;clear:none;cursor:pointer;margin-right:4px;}
.tbl-tb-text-btn {border:1px solid #999999;padding: 1px 2px;cursor:pointer;font-weight:bold;color:#FFFFFF;}