/*
.pane { display:none;}
ul {list-style: none;}
#page-container, #main-page-box {width:100%;height:100%;overflow:hidden;font-size:1.2em;}
#navi-box{}
#main-menu{}
#main-menu li{font-size:1.2em;height:1.4em;margin-bottom:2px;padding:3px;border-bottom: 0.2em solid #ffffff;}
#main-menu li a{float:left;width:100%;line-height:1.4em;}
#main-menu li.current-item{border-bottom: 0.2em solid #4E6CA3;}
#main-menu li.current-item a{color:#000;text-decoration:none;}
.ui-tabs-list li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#NaviPageBox{padding:0px !important;}
.lang-panel{float:right;}
.BlockBox{width:auto;height:auto;padding:0.2em;border:none;}
*/
div.toolbar{width:100%;padding-bottom:4px;min-height:2.4em;height:2.4em;}
.row-toolbar{ width:60px;height:20px; overflow:hidden;}
.row-toolbar .act-btn{ float:left; clear:none;margin-left:1px;}
.panel-toolbar{}
.jstbl-toolbar{}
.toolbar-btn{border:1px solid #999999;margin:2px;cursor:pointer;}
    .toolbar-btn .text{padding:2px 2px;}
.toolbar-delim{margin:0 2px;border:1px solid #999999;line-height:22px;height:20px;clear: none;float: left;}
.toolbar-row-selector{width:14px;height:14px;margin:4px 2px !important;clear: none;float: left;}

.form-toolbar .close-btn{float:left;clear:none;}
.form-toolbar .save-btn{float:left;clear:none;}
.form-toolbar .del-btn{float:right;clear:none;}

.listItem-toolbar{width:40px;height:20px;overflow:hidden;}
.listItem-toolbar .act-btn{float:left;clear:none;margin-left:1px;}
.editItems-list{}
.editItems-list .edit-item{float:left;clear:both;line-height:1.2em;margin-bottom:2px;border-bottom: 0.2em solid #ffffff;}
.editItems-list .edit-item .listItem-toolbar{float:left;clear:none;margin-right:2px;}
.editItems-list .edit-item a{float:left;clear:none;}
.editItems-list .current-edit-item {border-bottom: 0.2em solid #4E6CA3;}
.editItems-list .current-edit-item a{color:#000;text-decoration:none;}

.item-viewer-box{}
.item-viewer-box .item-viewer{display:none;}
.item-viewer-box .item-editor{display:none;}
.action-view .item-viewer{display:block;}
.action-view .item-editor{display:none;}
.action-edit .item-viewer{display:none;}
.action-edit .item-editor{display:block;}

.link-item{line-height:1.2em;clear:both;height:1.3em;margin-bottom:2px;}
.link-item .input-checkbox{float:left;clear:none;margin-right:2px;}
.link-item-label{line-height:1.2em;}

#user-info-box{margin-top:26px;border-top:3px solid #4E6CA3;}
    #user-info-box a{line-height:20px;padding-left:8px;font-weight:bold;}

.toolbar-btn .text { padding: 2px 2px; }
.ui-userdata .toolbar-btn { font-size: 1em; }
.ui-userdata .toolbar-btn .text { padding: 2px; }

.pane-header {clear:both;padding: 3px 5px 5px; text-align: left; margin-bottom: 0.7em;line-height:normal;font-weight:bold;}
.sub-sidenavi {float:left;clear:none;min-width:14.5%;min-height:90%;margin-right:0.5%;}
.sub-sidenavi ul {padding: 8px;}
.sub-sidenavi ul li{margin-bottom: 4px;clear: both;}
.sub-sidenavi ul li a{padding: 4px;}
.sub-sidenavi-view {float:left;clear:none;min-width:83.5%;min-height:90%;}
.sub-sidenavi-view .table-box {clear:both;}
.sub-sidenavi-view .sub-sidenavi-toolbar {clear:both;margin-top:20px;text-align: center;}
.sidenavi-toolbar {width:100%;clear:both;}