{% extends app_root_tpl() %}
{% block title %}
    {% if title %}SPLM: {{ title }}{% else %}Symantic PLM admin{% endif %}
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/portal.manager.css')}}" />
{% endblock %}
{% if not sections %} {% set sections=admin_sections() %} {% endif %}
{% if not current_section %} {% set current_section=admin_current_section(flask_request) %} {% endif %}
{% block page_nav %}
<div id="page-nav-container" class="container page-nav-container_st">
    <button type="button" class="navbar-toggle collapsed pagenavbar" data-toggle="collapse" data-target="#pagenavbar" aria-expanded="false" aria-controls="pagenavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar pagenavbar_icon"></span>
        <span class="icon-bar pagenavbar_icon"></span>
        <span class="icon-bar pagenavbar_icon"></span>
    </button>
    <nav id="pagenavbar" class="navbar-collapse collapse navbar-inverse page-nav">
        <ul class="nav navbar-nav">
        {% if sections %}
            {% for nav_item in sections %}
                {% set current_cls='' %}
                {% if current_section %}
                    {% if current_section.code == nav_item.code %} {% set current_cls=' current-section' %} {% endif %}
                {% endif %}
                <li class="nav-item{{ current_cls }}" id="section-{{ nav_item.code }}"><a class="nav-link" href="{{ nav_item.href }}">{{ nav_item.label }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
{% block bread_crumbs %}{% endblock %}
{% if not current_subitem %} {% set current_subitem=admin_current_subitem(flask_request) %} {% endif %}
{% block page_sidenav %}
{% if not navi %}
    {% if current_section %}
        {% set navi=admin_section_navi(current_section.code) %}
    {% endif %}
{% endif %}
{% if navi %}
    <ul class="nav">
    {% for item in navi %}
        {% set current_subitem_cls='' %}
        {% if current_subitem %}
            {% if current_subitem.code == item.code %}
                {% set current_subitem_cls=' current-subsection' %}
            {% endif %}
        {% endif %}
        <li class="nav-item{{ current_subitem_cls }}" id="page-{{ item.code }}">
            <a id="side-nav-item-{{ item.code }}" class="nav-link" href="{{ item.href }}">{{ item.label }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='js/jquery.wfm-loader.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/main.js')}}" type="text/javascript"></script>
    <script src="{{url_for('admin_mgt.static', filename='js/portal_manager.js')}}" type="text/javascript"></script>
{% endblock %}