<div class="section-box">
    <div class="section-name">
        <label>Имя секции:&nbsp;</label><input class="value-editor" type="text" name=""{{readonly}} value="{{ sec }}" />
    </div>
    <div class="section-data">
        {% if sec_data %}
            {% for key, val in sec_data.items() %}
            {% include _tpl_path + "config_param.html" ignore missing %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="section-toolbar">
        {% if not is_default %}
        <button class="del-section">Удалить секцию</button>
        <button class="add-section-param">Добавить параметр</button>
        {% endif %}
    </div>
</div>