{% set work_key=key %}
{% set work_val=val %}
<div class="section-param">
      <div class="param-toolbar">
          {% if not is_default %}
          <button class="del-section-param">Удалить параметр</button>
          {% endif %}
      </div>
      <div class="param-name">
          <input class="value-editor" type="text" name=""{{readonly}} value="{{ work_key }}" />
      </div>
      <div class="param-value">
          {% include _tpl_path + "config_value.html" ignore missing %}
      </div>
  </div>