{% extends admin_root_tpl() %}

{% block page_main_content %}
<input type="hidden" value="{{ js_base_url }}" id="js-base-url" />
<span id="page-content-marker" style="display:none;"></span>
{#% if edit_data %}
    <form name="ConfigEditorFrm" style="float:left;clear:both;width:98%;height:auto;margin: 0px auto;">
    {% for sec, data in edit_data.items() %}
    <div class="config-editor-section" style="clear:both;">
        <h3 class="section-label">{{ sec }}</h3>
        {% if data %}
            <table>
                <tbody>
                    {% for key, val in data.items() %}
                    <tr>
                        <td>{{key}}:&nbsp;&nbsp;
                            <input type="hidden" name="val-{{key}}" class="config-field-data" value="{{key|safe}}" />
                        </td>
                        <!-- если значение словарь - надо рисовать подсекцию -->
                        <td><input type="text" name="{{key}}" class="config-field-data" value="{{val|safe}}" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <hr />
        <div style="float:left;clear:both;width:98%;height:1px;margin: 0px auto;"></div>
    </div>
    {% endfor %}
    <div class="config-editor-toolbar" style="clear:both;">
        <button name="SaveConfig" class="ui-button">Сохранить</button>
    </div>
    </form>
{% endif %#}
{% endblock %}