{% extends admin_root_tpl() %}
{%- block page_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('users.static', filename='css/main.css')}}" />
{%- endblock page_styles %}
{% block page_main_content %}
<input type="hidden" value="{{base_url}}" id="js-base-url" />
<span id="page-content-marker" style="display:none;"></span>
{% endblock %}
{%- block page_scripts %}
    {{super()}}
    <script src="{{url_for('users.static', filename='js/user_roles.portal.js')}}" type="text/javascript"></script>
{%- endblock page_scripts %}