<table class="view-tbl">
        <tbody>
            <tr field="FIO">
                <td class="form-field-label">ФИО</td><td class="form-field-data"></td>
            </tr>
            <tr field="Login">
                <td class="form-field-label">Логин</td><td class="form-field-data"></td>
            </tr>
            <tr field="Email">
                <td class="form-field-label">Email</td><td class="form-field-data"></td>
            </tr>
            <tr field="Roles">
                <td class="form-field-label">Роли</td><td class="form-field-data"></td>
            </tr>
        </tbody>
    </table>