{% extends admin_root_tpl() %}
{% block styles %}
    {{super()}}
    <link href="{{url_for('files_mgt.static', filename='vend/jquery.jqGrid-' + jqgrid_vers() + '/css/ui.jqgrid.min.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{url_for('files_mgt.static', filename='vend/jquery.jqGrid-' + jqgrid_vers() + '/css/ui.jqgrid-bootstrap.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{url_for('files_mgt.static', filename='vend/vakata-jstree-' + jstree_vers() + '/themes/default/style.min.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/portal.jqgrid.css')}}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block page_main_content %}
<input type="hidden" value="/mediadata" id="js-base-url" />
<span id="page-content-marker" style="display:none;"></span>
{% endblock %}
{% block scripts %}
    {{super()}}
    <script src="{{url_for('files_mgt.static', filename='vend/jquery.jqGrid-' + jqgrid_vers() + '/js/jquery.jqgrid.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('files_mgt.static', filename='vend/jquery.jqGrid-' + jqgrid_vers() + '/js/i18n/grid.locale-ru.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('files_mgt.static', filename='vend/vakata-jstree-' + jstree_vers() + '/jstree.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('files_mgt.static', filename='js/files.manager.js')}}" type="text/javascript"></script>
{% endblock %}