{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta http-equiv="content-language" content="{{page_lang|default('ru')}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="splm:version" content="{{portal_ver}}" />
    {%- endblock metas %}

    {%- block styles %}
    {%- block base_styles %}
    {%- endblock base_styles %}
    {%- block vend_styles %}
    {%- endblock vend_styles %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/main2.css')}}" />
    {%- block page_styles %}
    {%- endblock page_styles %}
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    {%- block base_scripts %}
    {%- endblock base_scripts %}
    {%- block vend_scripts %}
    {%- endblock vend_scripts %}
    <script src="{{url_for('static', filename='js/jstypes.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/jsutils.js')}}" type="text/javascript"></script>
    {%- block page_scripts %}
    {%- endblock page_scripts %}
    {%- endblock scripts %}
    {%- endblock body %}
    <input type="hidden" value="{{ _APP_URL_PREFIX_|default('') }}" id="app-base-pref" />
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
