{% extends admin_root_tpl() %}

{%- block page_styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{url_for('wiki.static', filename='css/vendor/codemirror.css')}}" />
    <style type="text/css">

    	.prompt {
		    border: 1px solid grey;
		    padding: 10px;
		}
		.CodeMirror {
			resize: vertical;
			overflow: auto !important;
			border: 1px solid grey;
		}
		.wiki-field {
			width: 100%;
		}

		.scroll-ul-list { max-height: 100%; overflow-y: scroll; }
    </style>
{%- endblock page_styles %}


{% block title %}
    {% if title %}SPLM: {{ title }}{% else %}Редактор Wiki страниц{% endif %}
{% endblock %}
 
{% block page_main_content %}
<div class="scroll-ul-list">
	<div>
		<span class="header-section-toggler xicon-open xicon-pos">&nbsp;</span><h3 class="content-header">Редактор</h3>
			<div>
				<form method="post" >
					<div class="section-box">
			 			<h4>ID страницы:</h4>
						{% if page_id %}
							<input class="wiki-field" type="text" value="{{page_id}}" name="page_id" readonly>
						{% else %}
							<input class="wiki-field" type="text" value="" name="page_id">
						{% endif %}

						<h4>Заголовок wiki страницы:</h4>
						{% if page_title %}
							<input class="wiki-field" type="text" value="{{page_title}}" name="page_title">
					{% else %}
						<input class="wiki-field" type="text" value="" name="page_title">
					{% endif %}

					<h4>Текст страницы:</h4>
					{% if page %}
						<textarea id="editor" class="wiki-field" name="page" rows="30" cols="100">{{page}}</textarea>
					{% else %}
						<textarea id="editor" class="wiki-field" name="page" rows="30" cols="100"></textarea>
					{% endif %}

					<h4>Меню навигации:
					{% if is_navigation == '1' %}
						<input type="checkbox" name="is_navigation" checked value="{{is_navigation}}">
					{% else %}
						<input type="checkbox" name="is_navigation" value="">
					{% endif %}
					</h4>
					(создается боковое меню на основе всех заголовков, кроме заголовков первого уровня)
				</div>

				<br/>


				<span id="page-content-marker" style="display:none;"></span>
				<div id="navi-tool-toolbar" style="margin-bottom:20px;">
					<input class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" value="Сохранить" name="save" formaction="{{url_for('wiki.page', page_id = page_id)}}">
					<input class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" value="Удалить" name="delete" formaction="{{url_for('wiki.page', page_id = page_id)}}">
				</div>
			</form>

			<form method="get">
				<div id="navi-tool-toolbar">
					<input class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" value="К списку страниц" formaction="{{url_for('wiki.wiki')}}">
				</div>
			</form>
		</div>
	</div>
	<br/>
	<div>
		<span class="header-section-toggler xicon-close xicon-pos">&nbsp;</span><h3 class="content-header">Справка по синтаксису</h3>
		<div class="prompt">{{help | safe}}</div>
	</div>
</div>
{% endblock %}



{% block scripts %}
	{{super()}}
	<script src="{{url_for('wiki.static', filename='js/widget_load.js')}}" type="text/javascript"></script>
	<script src="{{url_for('wiki.static', filename='js/main.js')}}" type="text/javascript"></script>
    <script src="{{url_for('wiki.static', filename='js/vendor/codemirror.js')}}" type="text/javascript"></script>
    <script src="{{url_for('wiki.static', filename='js/vendor/cm-modes/sparql.js')}}" type="text/javascript"></script>
	<script type="text/javascript">


		var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
		  mode:  "sparql",
		  lineNumbers: true
		});
		editor.setSize(null, 800);


		$(function(){
			$('[type="checkbox"]').on('change', function(){
			   this.value = this.checked ? 1 : 0;
			}).change();
		});

	</script>
{% endblock %}
