{% extends admin_root_tpl() %}

{% block title %}
    {% if title %}SPLM: {{ title }}{% else %}Редактор Wiki страниц{% endif %}
{% endblock %}
 
{% block page_main_content %}
<div class="scroll-ul-list">
	<form method="post" >
		<h1>Страница</h1>
		<br/>

		Id страницы:
		<br/>
		{% if page_id %}
			<input type="text" value="{{page_id}}" name="page_id" readonly>
		{% else %}
			<input type="text" value="" name="page_id">
		{% endif %}
		<br/>

		Текст страницы:
		<br/>
		{% if page %}
			<textarea name="page" rows="30" cols="100">{{page}}</textarea>
		{% else %}
			<textarea name="page" rows="30" cols="100"></textarea>
		{% endif %}

		<br/>

		Меню навигации: 
		{% if is_navigation == '1' %}
			<input type="checkbox" name="is_navigation" checked value="{{is_navigation}}">
		{% else %}
			<input type="checkbox" name="is_navigation" value="">
		{% endif %}
		<br/>


		<input type="submit" value="Сохранить" name="save" formaction="{{url_for('wiki.page', page_id = page_id)}}">
		<input type="submit" value="Удалить" name="delete" formaction="{{url_for('wiki.page', page_id = page_id)}}">
		<br/>
	</form>

	<form method="get">
		<input type="submit" value="К списку страниц" formaction="{{url_for('wiki.wiki')}}">
	</form>
</div>
{% endblock %}



{% block scripts %}
	{{super()}}
	<script type="text/javascript">
		$(function(){
			$('[type="checkbox"]').on('change', function(){
			   this.value = this.checked ? 1 : 0;
			}).change();
		});

		function addImg(file){
			setTextToCurrentPos("\{\{img:/mediadata/static/files/wiki/img/" + file + "\}\}")
		}
		function addFile(file){
			setTextToCurrentPos("\{\{ФАЙЛ\|/mediadata/static/files/wiki/files/" + file + "\}\}")
		}

		function setTextToCurrentPos(text_to_insert) {
			element = $('textarea[name="page"]')
            var curPos = element.prop('selectionStart');
            let current_value = element.val();
            if (!Boolean(curPos)) {
            	curPos = current_value.length
            }
            element.val(current_value.slice(0, curPos) + text_to_insert + current_value.slice(curPos));
		}
	</script>
{% endblock %}
